@charset "utf-8";
/****************************************************
	DRB | FRZ
	weo3 - 5.10.14

1. HTML elements
2. Structure
3. Navigation
4. Modular
5. General
6. Queries
7. Fonts, Yo

****************************************************/

/****************************************************
	1. HTML
****************************************************/

h2 {
	margin-bottom: 0;
}

table {
	width: 100%;
	border: none;
	border-collapse: collapse;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
	background: #F3F3F3;
}

table tfoot tr td {
	font-weight: normal;
}

table tfoot {
	background: none;
}

button {
	background-color: #930;
	border-color: #620;
}

button:hover, button:focus {
	background-color: #620;
}

/****************************************************
	2. Structure
****************************************************/

.off-canvas-wrap, .inner-wrap {
	height: 100%;
}

.off-canvas-wrap {
	overflow-y: auto;
}

.main-section {
	margin-top: 5em;
}

/****************************************************
	3. Navigation
****************************************************/

.weekly-nav {
	margin: 0;
}

	.weekly-nav li {
		float: left;
		list-style-type: none;
		margin: 0 .5em;
	}

	.weekly-nav li a {
		display: block;
		padding: .75em .5em;
		font-size: 1.2em;
		line-height: 0;
		border: 1px solid #930;
		border-radius: 2px;
	}

	.weekly-nav li.curr-week {
		background-color: #930;
		padding: 0.175em 0.75em;
		color: #FFF;
		border-radius: 2px;
	}

/****************************************************
	4. Modular
****************************************************/

.alpha-horizontal {
	padding-left: 0;
	margin-left: 0;
}

.omega-horizontal {
	padding-right: 0;
	margin-right: 0;
}

.alpha-vertical {
	padding-top: 0;
	margin-top: 0;
}

.omega-vertical {
	padding-bottom: 0;
	margin-bottom: 0;
}

.drb-bg-blu { background: #369; }
.drb-bg-red { background: #930; }
.drb-bg-grn { background: #393; }
.drb-bg-prp { background: #636; }
.drb-bg-drd { background: #620; }



/****************************************************
	5. General
****************************************************/

#drb-weekly-scores {
	display: none;
}

#drb-weekly-handicap {
	display: none;
}

.drb-standings {
	margin-top: 1em;
}

.drb-team-statistics {
	margin-top: 2em;
}

.button {
	background-color: #930;
	border-color: #620;
}

.button:hover, .button:focus {
	background-color: #620;
}

.note {
	font-style: italic;
	font-size: 0.9em;
	margin-bottom: 0;
}

.aster {
	color: #F30;
	font-weight: bold;
}

/****************************************************
	6. Queries
****************************************************/

@media only screen and (max-width: 440px) {
	html, body {
		font-size: 0.75em;
	}
}

