@charset "utf-8";
/****************************************************
	DRB | FRZ
	weo3 - 5.10.14

1. HTML elements
2. Structure
3. Navigation
4. Modular
5. General
6. Queries
7. Fonts, Yo

****************************************************/

/****************************************************
	1. HTML
****************************************************/

/****************************************************
	2. Structure
****************************************************/

/****************************************************
	3. Navigation
****************************************************/

/****************************************************
	4. Modular
****************************************************/

.alpha-horizontal {
	padding-left: 0;
	margin-left: 0;
}

.omega-horizontal {
	padding-right: 0;
	margin-right: 0;
}

.alpha-vertical {
	padding-top: 0;
	margin-top: 0;
}

.omega-vertical {
	padding-bottom: 0;
	margin-bottom: 0;
}



/****************************************************
	5. General
****************************************************/

/****************************************************
	6. Queries
****************************************************/

