@charset "utf-8";
/****************************************************
	DRB | FRZ
	weo3 - 5.10.14

1. HTML elements
2. Structure
3. Navigation
4. Modular
5. General
6. Queries
7. Fonts, Yo

****************************************************/

/****************************************************
	1. HTML
****************************************************/

table {
	width: 100%;
	border: none;
	border-collapse: collapse;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
	background: #F3F3F3;
}

/****************************************************
	2. Structure
****************************************************/

.off-canvas-wrap, .inner-wrap {
	height: 100%;
}

/****************************************************
	3. Navigation
****************************************************/




/****************************************************
	4. Modular
****************************************************/

.alpha-horizontal {
	padding-left: 0;
	margin-left: 0;
}

.omega-horizontal {
	padding-right: 0;
	margin-right: 0;
}

.alpha-vertical {
	padding-top: 0;
	margin-top: 0;
}

.omega-vertical {
	padding-bottom: 0;
	margin-bottom: 0;
}

.drb-bg-blu { background: #369; }
.drb-bg-red { background: #930; }
.drb-bg-grn { background: #393; }
.drb-bg-prp { background: #636; }
.drb-bg-drd { background: #620; }



/****************************************************
	5. General
****************************************************/


/****************************************************
	6. Queries
****************************************************/

@media only screen and (max-width: 440px) {
	html, body {
		font-size: 0.75em;
	}
}

